---
import Layout from "../layouts/BlogLayout.astro";
import * as  greatPost from "./posts/page-1.md";
import {Content} from "./posts/page-1.md";
---

<Layout>
    <p>{greatPost.frontmatter.title}</p>
    <p>Written by: {greatPost.frontmatter.date}</p>
  <div>
    <div ><Content/></div>
  </div>
</Layout>
